.nav {
  display: flex;
  padding-inline: 5%;
  background: #070202d3;
  color: white;
  justify-content: space-between;

  /* margin: 3% 0; */
  padding-top: 24px;
  padding-bottom: 3%;
  border-bottom: 2px solid rgb(233, 226, 226);
}

h1 {
  color: aliceblue;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 5%;
}

.nav-links a {
  font-size: 25px;
  padding: 1%;
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  cursor: pointer;
  color: red;
}
